.CardInformationForm {
    padding: 30px;
    background-color: #262626;
    font-weight: 100;
    margin-right: 35px;
    align-self: flex-start;
}

.CardInformationForm h1 {
    font-size: 28px;
    display: inline-block;
    margin: 0;
}

.CardInformationForm > button{
    float: right;
}

.CardInformationForm label {
    color: #F44E0C;
    display: block;
    margin-top: 10px;
}

.CardInformationForm input {
    background-color: #3A3A3A;
    height: 45px;
    padding: 10px;
    color: #fff;
    border: none;
    width: 100%;
    outline: none;
    letter-spacing: 5px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.CardInformationForm>div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.CardInformationForm>div span {
    width: 30%;
}

.Modal div{
    background-color: #262626;
}
.Modal .title {
    color: #F44E0C;
}

@media screen and (max-width:480px) {
    .CardInformationForm>div {
        flex-direction: column;
    }

    .CardInformationForm>div span {
        width: 100%;
    }
    .CardInformationForm h1{
        display: block;
    }
    .CardInformationForm>a {
        margin-top: 15px;
    }
    .CardInformationForm label{
        clear: both;
    }
}