.checkout__steps {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 50px auto 100px auto;
}
.checkout__step {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
    position: relative;
}
.checkout__step:before, .checkout__step:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 8px;
    width: 50%;
    height: 2px;
    background-color: #F44E0C;
    z-index: 2;
}
.checkout__step:before {
    left: 0;
}
.checkout__step:after {
    right: 0;
}
.checkout__stepNumber, .checkout__stepLabel {

    display: block;
}
.checkout__stepNumber {
    width: 16px;
    height: 16px;
    font-size: 0;
    border-radius: 50%;
    background-color: #191919;
    z-index: 3;
    border: 1px solid #f44e0c;
}
.checkout__stepLabel {
    margin-bottom: 15px;
    color: #fff;
    word-break: break-word;
    font-weight: 100;
    position: absolute;
    top: 30px;
}
.checkout__stepFirst {
    align-items: flex-start;
}
.checkout__stepFirst:before {
    display: none;
}
.checkout__stepFirst:after {
    width: 100%;
}
.checkout__stepLast {
    align-items: flex-end;
}
.checkout__stepLast:before {
    width: 100%;
}
.checkout__stepLast:after {
    display: none;
}
.checkout__stepActive:before, .checkout__stepPrevious:before, .checkout__stepCompleted:before {
    background-color: #F44E0C;
}
.checkout__stepActive .checkout__stepNumber, .checkout__stepPrevious .checkout__stepNumber, .checkout__stepCompleted .checkout__stepNumber {
    width: 18px;
    height: 18px;
    
}
.checkout__stepDone {
    background-color: #F44E0C;
}
.checkout__stepPrevious:after, .checkout__stepCompleted:after {
    background-color: #F44E0C;
}
.checkout__labelDone{
    color: #F44E0C;
    font-weight: 400;
}
@media screen and (max-width:430px) {
    .checkout__steps {
        font-size: 12px;
    }
}