.orderList{
    margin-right: 30px;
    padding: 30px;
    background-color: #262626;
    align-self: flex-start;
}
.orderList h1 {
    font-size: 28px;
    display: inline-block;
    margin: 0;
}
.orderList > a {
    float: right;
    font-weight: 100;
}
@media screen and (max-width: 480px) {
    .orderList{
        text-align: center;
    }
    .orderList h1{
        display: block;
    }
    .orderList >a{
        float: none;
    }
}