.signIn{
    text-align: center;
    max-width: 825px;
    overflow-y: auto;
}

h1 {
    font-size: 36px;
    font-weight: 200;
  }
  .signIn form {
    width: 70%;
    margin:  30px auto 0;
  }
  .signIn p {
    clear: both;
    text-align: left;
    margin-top: 25px;
    font-weight: 100;
  }
  .signIn input {
    outline: none;
    display: block;
    background: rgba(0, 0, 0, 0);
    margin: 20px 0;
    width: 100%;
    padding: 15px 0;
    border: none;
    border-bottom: 1px solid #fff;
    background-color: none;
    color: #fff;
    -webkit-appearance: none;
  }
  
  .signIn input:focus {
    border-bottom: 1px solid #F44E0C;
  }
  
  .signIn input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    font-weight: 200;
    opacity: 1;
    /* Firefox */
  }
  
  .signIn input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #fff;
    font-weight: 200;
  }
  
  .signIn input::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #fff;
    font-weight: 200;
  }
  
  input[type="password"]::-ms-reveal {
    display: none;
  }
  .signIn p {
    margin-top: 35px;
    font-weight: 300;
  }
  .toggle {
    background: none;
    border: none;
    cursor: pointer;
    font-weight: 600;
    position: absolute;
    right: 0;
    top: 10px;
    z-index: 9;
    font-size: 26px;
  }
  
  .toggle:focus {
    outline: none;
  }
  
  .fa {
    font-size: 2rem;
  }
  
  .text {
    text-align: justify;
    font-size: 16px;
    font-weight: lighter;
    margin-top: 50px;
  }
  
  .text a {
    color: #F44E0C;
    text-decoration: none;
    padding: 0 4px;
  }
  .forgotPassword{
    margin: 25px 0;
    clear: both;
    position: relative;
  }
  .forgotPassword .checkbox{
    float: left;
    width: 50%;
    margin: 0;
  }
  .forgotPassword a{
    float: right;
  }
  .btn {
    margin-top: 40px;
    letter-spacing: 5px;
  }
  .policy{
    margin-top: 50px;
  }
  .footer{
    width: 70%;
    margin:  15px auto 0;
  }
  .social{
    margin-top: 80px;
  }
  .signIn .btn span span {
    background-color: #fff;
  }
  @media screen and (max-width: 1440px) {
    .signIn{
      overflow-y: auto;
      max-width: 700px;
    }
    .social{
      margin-top: 10px;
    }
  }
@media screen and (max-width:1120px) {
   .signIn form{
     padding: 35px 2% 0;
     width: 90%;
   }
   .footer{
     width: 90%;
   }
   .signIn input{
     margin: 25px 0;
   }
   .signIn .btn {
     margin-top: 35px;
   }
   .signIn p{
     margin-top: 35px;
   }
  
}
@media screen and (max-width:768px) {
  .signInRecaptcha{
    margin: 20px auto !important;
    width: 70%;
  }
  .signInRecaptcha > form > div > div:first-child {
    margin: 0;
  }
  .signIn{
    position: relative;
    width: 80%;
    margin: 40px auto 0 auto;
  }
  .signIn form {
    padding: 15px 2% 0;
  }
  .signIn form input {
    margin: 15px auto;
  }
  .forgotPassword {
    margin: 15px auto;
  }
}
@media screen and (max-width:480px) {
  .signInRecaptcha{
    width: 100%;
  }
  .signIn {
    width: 100%;
  }
  .forgotPassword {
    width: 100%;
  }
  .checkbox{
    float: none;
    width: 100%;
    display: block;
  }
}