 .course-item {
    position: relative;
    margin: 15px auto;
  }
  
 .course-item figure,
 .course-item img {
    width: 100%;
    height: 100%;
  }
  
 .course-item h1 {
    position: absolute;
    bottom: 60px;
    left: 2%;
    color: #fff !important;
    max-width: 80%;
    margin: 0;
    text-align: left;
    font-size: 28px;
  }
  
 .course-item a {
    position: absolute;
    width: calc(100% - 30px);
    background-color: #F44E0C;
    bottom: 0;
    z-index: 2;
    height: 60px;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    line-height: 60px;
  }