 .course-item {
    position: relative;
    margin: 15px auto;
  }  
 .course-item figure,
 .course-item img {
    width: 100%;
    height: 100%;
    cursor: pointer;
  }  
 .course-item h1 {
    position: absolute;
    bottom: 60px;
    left: 2%;
    color: #fff !important;
    max-width: 80%;
    margin: 0;
    text-align: left;
    font-size: 28px;
    -webkit-touch-callout: none;
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none; 
  } 
 /* .addCartButton{
    border: 1px solid #F44E0C;
    background-color: #fff;
    color: #F44E0C;
    border-radius: 25px;
    font-weight: bold;
}
.addCartButton:hover{
  background: #fff;
  opacity: 0.9;
} */
.course-item .footer {
  display: flex;
  flex-direction: row;
  position: absolute;
  width: calc(100% - 30px);
  height: 60px;
  bottom: 0;
  z-index: 2;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.course-item a {
  background-color: #F44E0C;
  color: #fff;
  width: 50%;
  height: 60px;
  line-height: 60px;
}
.course-item a:hover {
  background-color: #d04108;
}
.course-item  .btn {
  background-image: -webkit-linear-gradient(45deg, #F44E0C 50%, transparent 50%);
  background-image: linear-gradient(45deg, #F44E0C 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
  height: 100%;
  vertical-align: center;
  width: 50%;
  color: #F44E0C;
  background-color: #fff;
  font-weight: bold;
}
.course-item .btn:hover{
  background-position: 0;
  color: #fff;
  background-color: #F44E0C;
}
.course-item .btnGoToCart{
  background-color: #191919;
  border: 1px solid #F44E0C;
  box-sizing: border-box;
}
.course-item  .btn i{
  font-weight: bold;
  margin-left: 5px;
}
.course-item  .btn:active{
  background-color: #ccc;
}

.course-item .card-price {
  display: inline-block;
  width: auto;
  height: 38px;
  background-color: #f44e0c;
  border-radius: 3px 4px 4px 3px;
  border-left: 1px solid #f44e0c;
  margin-left: 19px;
  position: absolute;
  color: white;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
  padding: 0 10px 0 10px;
  top: 5px;
  min-width: 80px;
}

/* Makes the triangle */
.card-price:before {
	content: "";
	position: absolute;
	display: block;
	left: -19px;
	width: 0;
	height: 0;
	border-top: 19px solid transparent;
	border-bottom: 19px solid transparent;
	border-right: 19px solid #f44e0c;
}

/* Makes the circle */
.card-price:after {
	content: "";
	background-color: white;
	border-radius: 50%;
	width: 4px;
	height: 4px;
	display: block;
	position: absolute;
	left: -9px;
	top: 17px;
}
@media screen and (max-width:1440px) {
  .course-item h1 {
    font-size: 22px;
  }
}
