.LearningMethods{
    width: 80%;
    margin: 100px auto;

}
.LearningMethods h2{
    text-align: left;
    width: min-content;
    font-size: 56px;
    text-transform: uppercase;
}
.LearningMethods .methods{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.LearningMethods .methods div{
    width: 40%;
}
.LearningMethods .methods div h3{
    font-size: 48px;
    color: #fff;
    font-weight: bold;
}
.LearningMethods .methods div p{
    margin: 20px auto;
}
.LearningMethods .methods span{
    width: 105px;
    height: 105px;
}