body {
  margin: 0;
  font-family: 'Poppins', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #191919;
  color: #fff;
}

li {
  list-style: none;
}

a,
a:hover {
  color: #F44E0C;
  cursor: pointer;
  text-decoration: none;
}

/* *****  SIGN UP PAGE ******/
.sign-up {
  background-image: url('./assets/asset-bg.png');
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
}

.sign-up .left-side {
  padding: 0;
  height: 100%;
  position: relative;
}

.sign-up__bottom {
  position: absolute;
  bottom: 5%;
  left: 10%;
  padding: 0;
}

.sign-up__bottom h2 {
  color: #F44E0C;
  font-size: 54px;
  font-weight: bold;
}

.sign-up__bottom p {
  font-size: 18px;
}

/* *****  SIGN UP PAGE END******/
.contact-us-page {
  background-image: url('./assets/map.svg');
  background-size: cover;
  background-position: center;
}

.contact-us {
  width: 90%;
  margin: 0 auto;
  margin-top: 125px;
  font-weight: 200;
  min-height: 590px;
}

.contact-us div>p {
  text-align: left;
  max-width: 620px;
  margin-top: 35px;
}

.contact-us h1 {
  font-weight: bold;
  color: #F44E0C;
}

.contact-us ul {
  padding: 0;
  margin: 120px 0 0 0;
  display: grid;
  column-gap: 30px;
  row-gap: 60px;
}

.contact-us ul li {
  height: 50px;
  display: flex;
  align-items: center;
  column-gap: 30px;
}

.contact-us ul li span {
  display: inline-block;
  color: #F44E0C;
  font-size: 48px;
  width: 35px;
  grid-column-start: 1;
  grid-column-end: 1;
}

.contact-us ul li p {
  display: inline-block;
  max-width: 250px;
  text-align: left;
  margin: 0;
  font-size: 18px;
  grid-column-start: 2;
  grid-column-end: 2;
}

.privacy-policy {
  text-align: left;
  width: 90%;
  margin: 60px auto;
}

.privacy-policy a {
  color: #fff;
}

.privacy-policy h1,
h2,
h3 {
  color: #F44E0C;

}

.privacy-policy h1,
h2 {
  font-weight: bold;
}

.privacy-policy h1 {
  font-size: 54px;
}

.privacy-policy h2 {
  font-size: 30px;
}

.privacy-policy h3 {
  font-size: 21px;
}

.privacy-policy p {
  margin: 45px 0;
  max-width: 70%;
  font-weight: 200;
}

.about-us {
  background-image: url('./assets/about-bg.jpg');
  background-size: 100% 500px;
  min-height: 500px;
  background-repeat: no-repeat;
}

.about-us>h1 {
  width: 40%;
  margin-left: 5%;
  padding-bottom: 190px;
  /* position: absolute; */
}

.about-us .why-us {
  padding: 30px 5%;
  box-shadow: 0px -100px 25px 10px rgb(25 25 25/ 70%);
  -webkit-box-shadow: 0px -100px 25px 10px rgb(25 25 25/ 70%);
  -moz-box-shadow: 0px -100px 25px 10px rgb(25 25 25/ 70%);
  position: relative;
  min-height: 820px;
}

.about-us .why-us h1 {
  color: #F44E0C;
  max-width: 220px;
}

.about-us .why-us figure.figure-1 {

  width: 665px;
  height: 665px;
}

.about-us .why-us figure.figure-1 img {
  width: 100%;
  height: 100%;
}

.about-us .why-us figure.figure-2 {
  z-index: 2;
  width: 780px;
  height: 520px;
  outline: 20px solid #191919;
}

.about-us .the-process {
  padding: 80px 0;
}
.about-us .row1,.row2{
  display: flex;
  flex-direction: row;
  position: absolute;
}
.about-us .row2{
  margin-top: 200px;
  z-index: 2;
  left: 25%;
  gap: 35px;
}
.about-us .row2 p{
  max-width: 520px;
  line-height: 1.6;
}
.about-us .the-process{
  margin: auto;
}
.about-us .the-process>figure {
  height: 1080px;
  width: 100%;
}

.about-us > figure img {
  height: 100%;
  width: 100%;
}

.about-us .the-process__text {
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.about-us .the-process__text h1 {
  color: #F44E0C;
}
.about-us .the-process__text p{
  max-width: 80%;
  line-height: 1.5; 
}
.about-us .the-process__images{
  display: flex;
  gap: 20px;
}
.about-us .the-process__images figure {
  height: 450px;
  width: 195px;
}
.about-us .the-process__images figure img{
  width: 100%;
  height: 100%;
}
.profile-page{
  height: 100vh;
  margin: 0;
}
.profile-page .rounds
{
  height: 100%;
  background-image: url('./assets/Rounds.jpg');
  background-size: cover;
}
.page-not-found{
  padding: 10px;
  text-align: center;
  margin: 20vh auto;
}
.page-not-found h1{
  margin: 0 auto;
  max-width: 440px;
  color: #F44E0C;
  font-size: 124px;
  font-weight: 400;
  letter-spacing: -5px;
  line-height: 178px;
}
.page-not-found p{
  margin: 0 auto;
  max-width: 440px;
}