.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.75);
}

.PasswordModal {
  background-color: #191919;
    position: fixed;
    top: 20vh;
    left: 25%;
    width: 45%;
    padding: 50px 10%;
    box-shadow: 0 2px 8px rgb(0 0 0 / 25%);
    z-index: 30;
    animation: slide-down 0.3s linear both;

}

.PasswordModal a {
  font-weight: 200;
}
.PasswordModal h1 {
  text-transform: uppercase;
  font-size: 36px;
  margin: 0;
}

.PasswordModal p {
  color: #F44E0C;
  font-size: 20px;
  font-weight: 200;
}
.btn {
  width: 100%;
  margin: 20px auto 10px auto;
}

.PasswordModal input{
  outline: none;
  display: block;
  background: rgba(0, 0, 0, 0);
  width: 100%;
  padding: 15px 0;
  border: none;
  border-bottom: 1px solid #fff;
  background-color: none;
  color: #fff;
  -webkit-appearance: none;
}

.signIn input:focus {
  border-bottom: 1px solid #F44E0C;
}

.signIn input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  font-weight: 200;
  opacity: 1;
  /* Firefox */
}

.signIn input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff;
  font-weight: 200;
}

.signIn input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #fff;
  font-weight: 200;
}

input[type="password"]::-ms-reveal {
  display: none;
}

.toggle {
  background: none;
  border: none;
  cursor: pointer;
  font-weight: 600;
  position: absolute;
  right: 0;
  top: 15px;
  z-index: 9;
  font-size: 26px;
}

.toggle:focus {
  outline: none;
}

.fa {
  font-size: 2rem;
}
/* .modal {
  position: fixed;
  top: 30vh;
  left: 10%;
  width: 80%;
  z-index: 100;
  overflow: hidden;
} */

/* @media (min-width: 768px) {
  .modal {
    left: calc(50% - 20rem);
    width: 40rem;
  }
} */