.PasswordModal {
    padding: 40px 30%;
    background-color: #191919;
}
.PasswordModal h1{
    text-transform: uppercase;
    
}
.PasswordModal p{
    color: #F44E0C;
}
.PasswordModal a {
    color: #F44E0C;
    text-decoration: none;
}