.social-media{
  clear: both;
  display: inline-block;
}
.social-media h1 {
    font-size: 20px;
    font-weight: 200;
}
.icons-group{
  margin-top: 10px;
}
.social-media button {
  cursor: pointer;
  margin: 0 10px;
  padding: 5px;
  background-color: #F44E0C;
  mix-blend-mode: screen;
  height: 42px;
  width: 42px;
  display: inline-block;
  text-decoration: none;
  color: #000;
  font-size: 0;
  outline: none;
  border: none;
}
.social-media button:hover{
  opacity: 0.8;
}
.social-media button i{
  margin: 0 !important;
  font-size: 25px;
}