header {
    width: 90%;
    margin: 0 auto;
    padding: 60px 0;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    text-transform: uppercase;
    font-weight: 200;
}

header > a{
    background-color: #F44E0C;
    padding: 10px 15px;
    height: 60px;
    width: 190px;
}
header > a img{
    height: auto;
    max-width: 100%;
}


header .menu{
    position: relative;
    display: flex;
    gap: 30px;
    font-size: 18px;
    letter-spacing: 5px;
}
header .menu > ul {
    display: flex;
    gap: 60px;
    align-items: center;
}
header .menu a{
    color: #fff;
}
header .menu a:hover {
    color: #F44E0C;
}
header a.active{
    color: #F44E0C;
}

@media screen and (max-width: 1024px) {
    header .menu{
        gap: 15px;
    }
  header  .menu > ul{
        gap: 30px;
        display: none;
    }

}
@media screen and (max-width: 768px) {
   
  }

@media screen and (max-width: 480px) {
   
  }