.Header {
    width: 90%;
    margin: 0 auto;
    padding: 30px 0;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    text-transform: uppercase;
}

.Header > a {
    background-color: #F44E0C;
    padding: 10px 15px;
    height: 60px;
    width: 190px;
}
.Header > a img{
    height: auto;
    max-width: 100%;
}


.Header .menu{
    position: relative;
    display: flex;
    gap: 30px;
    font-size: 18px;
    letter-spacing: 5px;
}
.Header .menu > ul {
    display: flex;
    gap: 20px;
    align-items: center;
}
.Header .menu a{
    color: #fff;
    font-weight: 400;
}
.Header .menu a:hover {
    color: #F44E0C;
}
.Header a.active{
    color: #F44E0C;
}
.Header .hello {
    font-size: 18px;
    color: #F44E0C;
    word-spacing: normal;
    letter-spacing: normal;
    margin: 0;
    vertical-align: middle;
    text-transform: capitalize;
    text-align: right;
    line-height: 35px;
    font-weight: bold;
}
@media screen and (max-width: 1024px) {
    .Header .menu{
        gap: 15px;
    }
  .Header  .menu > ul{
        gap: 30px;
        display: none;
    }

}
@media screen and (max-width: 768px) {
   
  }

@media screen and (max-width: 480px) {
   
  }