.right-menu {
    font-weight: 200;
}
.right-menu .searchBtn{
    outline: none;
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
}
.right-menu .searchBtn:hover{
    color: #F44E0C;
}
.right-menu ul{
    flex-direction: row;
    align-items: flex-end;
    text-transform: uppercase;
    border-left: 1px solid #F44E0C;
    display: flex;
    gap: 30px;
    font-size: 24px;
    padding-left: 15px;
}
.right-menu ul li a{
    color: #fff;
}
.right-menu ul li a:hover,.right-menu .btn:hover {
    color: #F44E0C;
}
.responsive a:hover, .logoutBtn:hover{
    color: #191919;
}
.btn:focus, .logoutBtn:focus{
    outline: none;
}
.right-menu .btn, .logoutBtn{
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
    color: #fff;

}
.shoppingCart{
    position: relative;
}
.shoppingCart a{
    z-index: 2;
}
.shoppingCart span{
    padding-left: 5px;
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: #F44E0C;
    border-radius: 100%;
    top: 0px;
    right: -5px;
    z-index: 2;
    font-size: 13px;
    text-align: center;
    font-weight: 600;
}
.right-menu .cartButton {
    background: transparent;
    outline: none;
    border: none;
    color: #fff;
    cursor: pointer;
}
.right-menu .cartButton:hover{
    color: #F44E0C;
}
@media screen and (max-width: 1024px) {
    .right-menu ul {
        border: none;
        margin-right: 50px;
    }
}